@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

a:hover {
    text-decoration: none;
}

.recipeCards{
    margin: 15px 0;
    padding: 10px;
}

.recipeTitles {
    margin: 0 0 2px 0;
}

.imageBox {
    float: left;
    height: 100%;
    margin-right: 15px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 300px;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.inlineBlock {
    display: inline-block;
}